<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoystickMouseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <JoystickMouseControl.Properties.Settings>
            <setting name="lmb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rmb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mmb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alt_tab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shift_alt_tab" serializeAs="String">
                <value>0</value>
            </setting>
        </JoystickMouseControl.Properties.Settings>
    </userSettings>
</configuration>